<div class="our-working-process">
    <div class="our-working-process_content">
        <div class="our-process_working_content_first">
            <h1 class="our-working-process_content_title">Our Process</h1>
            <h2 class="our-working-process_content_title our-working-process_content_title--2">Working</h2>
            <div class="our-working-process_content_info">
                <p class="our-working-process_content_info_parragraph">Step-by-Step Guide to Achieving Your Business
                    Goals
                </p>
            </div>
        </div>
        <div class="our-working-process_content_cards">
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">01</h3>
                <p class="our-working-process_content_cards_box_name">Consultation</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">02</h3>
                <p class="our-working-process_content_cards_box_name">
                    Research and Strategy Development</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">03</h3>
                <p class="our-working-process_content_cards_box_name">Implementacion</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">04</h3>
                <p class="our-working-process_content_cards_box_name">
                    Monitoring and Optimization</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">05</h3>
                <p class="our-working-process_content_cards_box_name">
                    Reporiting and Communication</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
            <div class="our-working-process_content_cards_box">
                <h3 class="our-working-process_content_cards_box_number">06</h3>
                <p class="our-working-process_content_cards_box_name">
                    Continual Improvement</p>
                <img src="../../../../assets/images/images-icons/Icon(1).png" alt="">
            </div>
        </div>
    </div>
</div>