<header class="header">
    <nav class="header_nav">
        <div class="header_nav_logo">
            <img src="../../../assets/images/Frame 9.png" alt="" class="header_nav_logo_img">
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="header_nav_bar-btn">
            <svg class="header_button_svg" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
        </label>
        <ul class="header_nav_menu">
            <li><a href="" class="header_nav_menu_item_active">About us</a></li>
            <li><a href="" class="header_nav_menu_item">Services</a></li>
            <li><a href="" class="header_nav_menu_item">Use cases</a></li>
            <li><a href="" class="header_nav_menu_item">Pricing</a></li>
            <li><a href="" class="header_nav_menu_item">Blog</a></li>
            <li><a href="" class="header_nav_menu_item_button"><button>Request a code</button></a></li>
        </ul>
    </nav>
</header>