<div class="services">
    <div class="services_content">
        <div class="services_content_first">
            <h1 class="services_content_title">Services</h1>
            <p class="services_text">At our digital marketing agency, we offer a range of services to help businesses grow
                and succeed online. These services include:
            </p>
        </div>
        <div class="services_content_boxes">
            <div class="services_content_boxes_box services_content_boxes_box--1">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text1">Search
                        engine</h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text2">
                        Positivation</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Group 1.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow">
                        <img src="../../../../assets/images/images-boxes/tokyo-magnifier-web-search-with-elements 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_lupe">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--2">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text3">
                        Pay-per-click</h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text4">
                        Advertising</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Group 1.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow">
                        <img src="../../../../assets/images/images-boxes/tokyo-selecting-a-value-in-the-browser-window 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_payper">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--3">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text5">Social
                        Media</h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text6">
                        Marketing</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Icon.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow ">
                        <img src="../../../../assets/images/images-boxes/tokyo-browser-window-with-emoticon-likes-and-stars-around 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_socialmedia">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--4">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text7">Email</h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text8">
                        Marketing</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Group 1.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow">
                        <img src="../../../../assets/images/images-boxes/tokyo-sending-messages-from-one-place-to-another 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_email">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--5">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text9">Content
                    </h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text10">
                        Creation</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Group 1.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow">
                        <img src="../../../../assets/images/images-boxes/tokyo-many-browser-windows-with-different-information 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_content">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--6">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text11">Analytics
                        and</h4>
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--text12">
                        Tracking</h4>
                    <div class="services_content_boxes_box_boxtext_images">
                        <img src="../../../../assets/images/images-arrow/Icon.png" alt=""
                            class="services_content_boxes_box_boxtext_images_arrow">
                        <img src="../../../../assets/images/images-boxes/tokyo-volumetric-analytics-of-different-types-in-web-browsers 1.png"
                            alt="" class="services_content_boxes_box_boxtext_images_analystic">
                    </div>
                </div>
            </div>
            <div class="services_content_boxes_box services_content_boxes_box--7">
                <div class="services_content_boxes_box_boxtext">
                    <h4 class="services_content_boxes_box_boxtext services_content_boxes_box_boxtext--textlast">Let’s
                        make things happen</h4>
                    <div class="services_content_boxes_box_boxtext_textbutton">
                        <p class="services_content_boxes_box_boxtext_textbutton_text">Contact us today to learn more
                            about how our digital marketing services can help your
                            business grow and succeed online.</p>
                        <a href=""><button>Get your proposal</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>