<div class="contact_us">
    <div class="contact_us_content">
        <h1 class="contact_us_content_title">Contact Us</h1>
        <p class="contact_us_content_parragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam animi
            maxime dolores excepturi eos id voluptas? Reprehenderit, deserunt sit debitis neque iusto, deleniti omnis
            libero nihil iure praesentium dolores aspernatur!
        </p>

        <form action="" class="contact_us_content_form">
            <div class="contact_us_content_form_writer">
                <div class="contact_us_content_form_writer_first">
                    <div class="contact_us_content_form_writer_checbox">
                        <input type="checkbox" class="contact_us_name_writer_box_chek">
                        <label for="">Say hi</label>
                    </div>
                    <div class="contact_us_content_form_writer_checkbox">
                        <input type="checkbox" class="contact_us_name_writer_box_check">
                        <label for="">Get a quote</label>
                    </div>
                </div>
                <div class="contact_us_content_form_writter_boxes">
                    <div class="contact_us_content_form_writer_boxes_box">
                        <label for="">Name</label>
                        <input type="text" class="contact_us_name_writer_boxes_box_input" placeholder="Name">
                    </div>
                    <div class="contact_us_content_form_writer_boxes_box">
                        <label for="">Email</label>
                        <input type="text" class="contact_us_name_writer_boxes_box_input" placeholder="Email">
                    </div>
                    <div class="contact_us_content_form_writer_boxes_box">
                        <label for="">Message*</label>
                        <textarea name="" id="" class="contact_us_name_writer_boxes_box_textarea"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div class="contact_us_name_writer_button">
            <button class="contact_us_name_writer_button_but">Send Message</button>
        </div>
    </div>
</div>