.plattform{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.plattforms_icons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 6px;
    justify-content: center;
    img{
        width: 65px;
    }
}