<div class="plattform">
    <div class="plattforms_icons">
        <img src="../../../../assets/images/images-icons/Companylogo.png" alt="">
        <img src="../../../../assets/images/images-icons/Companylogo(1).png" alt="">
        <img src="../../../../assets/images/images-icons/Companylogo(2).png" alt="">
        <img src="../../../../assets/images/images-icons/Companylogo(4).png" alt="">
        <img src="../../../../assets/images/images-icons/Companylogo(3).png" alt="">
        <img src="../../../../assets/images/images-icons/Companylogo(5).png" alt="">
    </div>
</div>
