<div class="team">
    <div class="team_content">
        <h1 class="team_content_title">Team</h1>

        <p class="team_content_parragraph">Meet the skilled and experienced team behind our successful digital marketing
            strategies</p>


        <div class="team_content_boxes">
            <div class="team_content_boxes_box">
                <div class="team_content_boxes_box_info">
                    <div class="team_content_boxes_box_info_first">
                        <img src="../../../../assets/images/images-portrait/Picture.png" alt="" class="team_content_boxes_box_info_first_img1">
                        <div class="team_content_boxes_box_info_first_identy">
                            <p>John Smith</p>
                            <p>CEO and Founder</p>
                        </div>
                        <img src="../../../../assets/images/Social icon.png" alt="" class="team_content_boxes_box_info_first_img2">
                    </div>
                    <hr>
                    <p>10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy</p>
                </div>
            </div>
            <div class="team_content_boxes_box">
                <div class="team_content_boxes_box_info">
                    <div class="team_content_boxes_box_info_first">
                        <img src="../../../../assets/images/images-portrait/Picture(1).png" alt="" class="team_content_boxes_box_info_first_img1">
                        <div class="team_content_boxes_box_info_first_identy">
                            <p>Jane Doe</p>
                            <p>Director of operations</p>
                        </div>
                        <img src="../../../../assets/images/Social icon.png" alt="" class="team_content_boxes_box_info_first_img2">
                    </div>
                    <hr>
                    <p>7+ years of experience in project management and team leadership. Strong organizational and communication skills</p>
                </div>
            </div>
            <div class="team_content_boxes_box">
                <div class="team_content_boxes_box_info">
                    <div class="team_content_boxes_box_info_first">
                        <img src="../../../../assets/images/images-portrait/Picture(2).png" alt="" class="team_content_boxes_box_info_first_img1">
                        <div class="team_content_boxes_box_info_first_identy">
                            <p>MIchael Brown</p>
                            <p>Senior SEO Specialist</p>
                        </div>
                        <img src="../../../../assets/images/Social icon.png" alt="" class="team_content_boxes_box_info_first_img2">
                    </div>
                    <hr>
                    <p>5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization</p>
                </div>
            </div>
            <div class="team_content_boxes_box">
                <div class="team_content_boxes_box_info">
                    <div class="team_content_boxes_box_info_first">
                        <img src="../../../../assets/images/images-portrait/Picture(3).png" alt="" class="team_content_boxes_box_info_first_img1">
                        <div class="team_content_boxes_box_info_first_identy">
                            <p>Emily Jhonson</p>
                            <p>PPC Manager</p>
                        </div>
                        <img src="../../../../assets/images/Social icon.png" alt="" class="team_content_boxes_box_info_first_img2">
                    </div>
                    <hr>
                    <p>3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis</p>
                </div>
            </div>
        </div>
        <button class="team_content_button">See all team</button>
    </div>
</div>