<footer class="footer">
    <nav class="footer_nav">
        <img src="../../../assets/images/Logo.png" alt="">

        <div class="footer_nav_links">
            <ul class="footer_nav_links_list">
                <li class="footer_nav_links_list_item">About Us</li>
                <li class="footer_nav_links_list_item">Services</li>
                <li class="footer_nav_links_list_item">Use Cases</li>
                <li class="footer_nav_links_list_item">Pricing</li>
            </ul>
        </div>

        <h1 class="footer_nav_texttitle">Contact Us</h1>

        <div class="footer_nav_info">
            <p>Email: info@positivus.com</p>
            <p>Phone: 555-567-8901</p>
            <p>Address: 1234 Main St
                Moonstone City, Stardust State 12345</p>
        </div>


        <div class="footer_nav_emailbox">
            <input type="text" placeholder="Email">
            <button>Subscribe to news</button>
        </div>

        <div class="footer_nav_socialmedia">
            <img src="../../../assets/images/images-socialmedia/Icon(2).png" alt="">
            <img src="../../../assets/images/images-socialmedia/Icon(3).png" alt="">
            <img src="../../../assets/images/images-socialmedia/Icon(4).png" alt="">
        </div>

        <hr>

        <div class="footer_nav_credits">
            <p>© 2023 Positivus. All Rights Reserved.</p>
            <p>Privacy Policy</p>
        </div>
    </nav>
</footer>