.testimonials_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.testimonials_content_title{
    width: 191px;
    background: #b9ff66;
    padding: 4px;
    border-radius: 7px;
    text-align: center;
}
.testimonials_content_parragraph{
    text-align: center;
}

.testimonials_content_carousel {
    position: relative;
    margin: auto;
    text-align: center;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 6px 12px #191a23;
    img {
        display: none;
        border-radius: 15px;
    }
}

.testimonials_content_carousel img.image-active {
    display: block;
    width: 100%;
    height: 250px;
}

.testimonials_content_carousel_dot {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 16px;
}
.testimonials_content_carousel_dot_span {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #b9ff66;
    border-radius: 50%;
    display: inline-block;

    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.testimonials_content_carousel_dot_span:hover {
    opacity: 1;
}
.testimonials_content_carousel_image {
    animation-name: testimonials_content_carousel_image;
    animation-duration: 1.5s;
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    padding: 0;
    color: #ffff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}
.btn-prev {
    left: 15px;
}
.btn-next {
    right: 15px;
}
.icon-carousel {
    opacity: 0.5;
    transition: all 0.15s ease;
}
.icon-carousel:hover {
    color: red;
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}
.icon-prev,
.icon-next {
    font-size: 35px;
}
@keyframes testimonials_content_carousel_image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


//Design Desktop
@media screen and (min-width: 900px) {
    .testimonials{
        margin-top: 70px;
    }
    .testimonials_content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin-top: 30px;
    }
    .testiimonials_content_first{
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 142px;
        gap: 20px;
    }
}